<section class="article">
  <h2 class="title"><%= post.title %></h2>
  <p class="sub"><%- date(post.date, 'MMM D, YYYY') %></p>
  <article class="content">
    <%- post.more %>
  </article>
  <!-- tag cloud -->
  <div class="tagcloud-post">
    <%- tagcloud({
      min_font: 12, 
      max_font: 30, 
      amount: 300, 
      color: true, 
      start_color: '#aaa', 
      end_color: '#333',
    }) %>
  </div>
  <%- partial('_widget/author.ejs') %>
  <footer class="f-cf">
    <% if (post.prev) { %>
      <a href="<%- url_for(post.prev.path) %>" class="link f-fl">⟵<%= post.prev.title %></a>
    <% } %>
    <% if (post.next) { %>
      <a href="<%- url_for(post.next.path) %>" class="link f-fr"><%= post.next.title %>⟶</a>
    <% } %>
  </footer>
</section>
<%- partial('_widget/disqus.ejs') %>
